<div class="row expanded container ">
  <div class="small-12 medium-3 columns ">
    <div class="card">
      <h4>Новая публикация</h4>
    </div>
  </div>

  <div class="small-12 medium-6 columns">
    <div class="card">
      <h4>Ваши публикации</h4>
    </div>
  </div>

  <div class="small-12 medium-3 columns">
    <div *ngIf="editing" class="card edit">
      <h4>Персональные данные</h4>
      <span>Обязательно заполните все поля.</span>
      <hr>
      <form #formData='ngForm' novalidate
            (ngSubmit)="onSubmit(formData)"
            [formGroup]="editForm">
        <div>
          <label for="userName">Имя и Фамилия</label>
          <span class="error" *ngIf="nameMessage">{{ nameMessage }}</span>
          <input [ngClass]="{'has-error': nameMessage}" class="form-control"
                 type="text"
                 value="{{currentUser.userName}}"
                 formControlName="userName"
                 id="userName">
        </div>
        <!--email-->
        <div>
          <label for="emailId">Почта</label>
          <span class="error" *ngIf="emailMessage">{{ emailMessage }}</span>
          <input [ngClass]="{'has-error': emailMessage}" class="form-control"
                 id="emailId"
                 type="email"
                 value="{{currentUser.email}}"
                 formControlName="email">
        </div>
        <div>
          <label for="phone">Телефон</label>
          <span class="error" *ngIf="phoneMessage">{{ phoneMessage }}</span>
          <input [ngClass]="{'has-error': phoneMessage}" class="form-control"
                 type="number"
                 value="{{currentUser.phone}}"
                 formControlName="phone"
                 id="phone">
        </div>
        <div>
          <label for="age">Возраст</label>
          <span class="error" *ngIf="ageMessage">{{ ageMessage }}</span>
          <input [ngClass]="{'has-error': ageMessage}" class="form-control"
                 type="number"
                 value="{{currentUser.age}}"
                 formControlName="age"
          id="age">
        </div>
        <span>Поля ниже заполните на АНГЛИЙСКОМ языке.</span>
        <div>
          <label for="city">City</label>
          <span class="error" *ngIf="cityMessage">{{ cityMessage }}</span>
          <input [ngClass]="{'has-error': cityMessage}" class="form-control"
                 type="text"
                 value="{{currentUser.city}}"
                 formControlName="city"
                 id="city">
        </div>
        <div>
          <label for="street">Street, House number</label>
          <span class="error" *ngIf="streetMessage">{{ streetMessage }}</span>
          <input [ngClass]="{'has-error': streetMessage}" class="form-control"
                 type="text"
                 value="{{currentUser.street}}"
                 formControlName="street"
                 id="street">
        </div>
        <button type="submit" class="button expanded" [disabled]="!editForm.valid ">
          Отправить
        </button>
      </form>
    </div>
    <div *ngIf="!editing" class="card">
      <h4>Персональные данные</h4>
      <hr>
      <p>Имя: {{ currentUser.userName }}</p>
      <p>Почта: {{ currentUser.email }}</p>
      <p>Телефон: {{ currentUser.phone }}</p>
      <p>Возраст: {{ currentUser.age }}</p>
      <p>Город: {{ currentUser.city }}</p>
      <p>Улица: {{currentUser.street}}</p>
      <hr>
      <input type="button" class="button" value="Редактировать" (click)="editing = true">
    </div>

  </div>
</div>
