

.error{
  color: tomato;
  position: relative;
  margin-top:-5px;
}
.out{
  position: absolute;
  -webkit-transform: translateX(200%);
  -moz-transform: translateX(200%);
  -ms-transform: translateX(200%);
  -o-transform: translateX(200%);
  transform: translateX(200%);
}
